{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>Carros</title>
</head>
<body>
    <header>
        <h1>Os monstros da Koenigsegg</h1>
    </header>
    <nav>
        <a href="/base" id="button1">Home</a>
        <a href="/page1" id="button2">History</a>
        <a href="/page3" id="button3">Founders</a>
    </nav>
    <main>
        <article>
            <h2>As bestas forjadas pela Koenigsegg</h2>
            <p>Agora vamos ver algumas das mais imponentes criações da Koenigsegg:</p>
            
            <h3>CC8S</h3>
            <p>Unidades: 6 unidades, sendo 2 unidades com direção na direita</p>
            <p>0-100km/h (0-62 mph) = menos de 3,5 segundos</p>
            <p>Top speed: 387km/h (240mph)</p><br>
            
            <h3>Koenigsegg CCR</h3>
            <p>Unidades: 14</p>
            <p>0-100km (0-62mph): Abaixo de 3,2 segundos</p>
            <p>Top speed: 390km/h (242mph)</p>
            
            <h3>Koenigsegg Agera</h3>
            <p>Unidades: 7</p>
            <p>0-100km (0-62mph): Abaixo de 3 segundos</p>
            <p>Top speed: 424km/h (260mph)</p>

            <h3>Koenigsegg Agera R</h3>
            <p>Unidades: 18</p>
            <p>0-100km (0-62mph): Abaixo de 2,8 segundos</p>
            <p>Top speed: 430km/h (267mph)</p>

            <h3>Koenigsegg one:1</h3>
            <p>Unidades: 6 e 1 protótipo</p>
            <p>0-400km (0-248mph): 20 segundos</p>
            <p>Top speed: 440km/h (274mph)</p>

            <h3>Koenigsegg Agera RS</h3>
            <p>Unidades: 25</p>
            <p>Top speed: 457km/h (284.5mph)</p>
        </article>
    </main>
</body>
</html>
