{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Criadores e Donos</title>
</head>
<body>
    <header>
        <h1>Fundador da Koenigsegg</h1>
    </header>
    <nav>
        <a href="/base" id="button1">Home</a>
        <a href="/page1" id="button2">History</a>
        <a href="/page2" id="button3">Cars</a>
    </nav>
    <main>
        <article>
            <h2>Christian von Koenigsegg</h2>
            <p>é um engenheiro automotivo e empresário sueco. É o fundador e CEO da empresa sueca de automóveis de alta performance Koenigsegg. <br>Em 1994, a Koenigsegg lançou o "projeto Koenigsegg", que acabou se tornando a Koenigsegg Automotive. Juntamente com o designer David Crafoord, Koenigsegg criou um conceito de design seguindo seus esboços originais. O primeiro protótipo permitiu a fundação da Koenigsegg Automotive. Koenigsegg e sua esposa, Halldóra, estão liderando a empresa.</p>
            <img src="../static/christian.JPG" alt="">
        </article>
    </main>
</body>
</html>
